<style>
.form-group{
    padding-bottom: 0.75%;
    margin-bottom: 0.75%;
}
</style>

<div class="form-group">
    {{ form_label(form.category) }}
    {{ form_widget(form.category) }}
</div>

<div class="form-group">

    {{ form_label(form.difficulty) }}
    {{ form_widget(form.difficulty) }}
</div>